{% extends 'core/base.html' %}

{% block content %}
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Acerca de Nuestra Universidad</h2>
        <p>Somos una institución de educación superior con más de 20 años de experiencia en la enseñanza de las finanzas y la economía. Nos enorgullece ofrecer a nuestros estudiantes una educación de excelencia que les prepare para ser líderes en el mundo de los negocios.</p>
      </div>
      <div class="col-md-6">
        <h2>Nuestra Misión</h2>
        <p>Nuestra misión es formar profesionales altamente capacitados en las áreas financieras, contables y económicas, proporcionándoles las herramientas y conocimientos necesarios para que puedan tomar decisiones estratégicas y contribuir al desarrollo sostenible de las empresas y la sociedad.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h2>Nuestros Valores</h2>
        <ul>
          <li>Excelencia académica</li>
          <li>Integridad y ética profesional</li>
          <li>Innovación y espíritu emprendedor</li>
          <li>Responsabilidad social</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h2>Nuestro Equipo</h2>
        <p>Nuestro equipo docente está conformado por profesionales altamente calificados, con amplia experiencia en el sector financiero y empresarial. Están comprometidos con la formación integral de nuestros estudiantes y con el desarrollo de la investigación en finanzas.</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
