{% extends 'base.html' %}

{% block content %}
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Acerca de la Universidad de Finanzas</h2>
          <p>La Universidad de Finanzas es una institución líder en la enseñanza de las ciencias financieras y económicas. Desde nuestra fundación en 1985, nos hemos dedicado a formar a los profesionales más cualificados en el campo de las finanzas, la banca, los seguros y la gestión empresarial.</p>
        </div>
        <div class="col-md-6">
          <h2>Nuestra Misión</h2>
          <p>Nuestra misión es proporcionar una educación de excelencia en las áreas financieras y económicas, capacitando a nuestros estudiantes para que se conviertan en líderes innovadores y responsables en el mundo de los negocios.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h2>Nuestros Valores</h2>
          <ul>
            <li>Excelencia Académica</li>
            <li>Integridad y Ética Profesional</li>
            <li>Innovación y Espíritu Emprendedor</li>
            <li>Responsabilidad Social Corporativa</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h2>Nuestro Equipo</h2>
          <p>Nuestro equipo está compuesto por profesores altamente calificados, con amplia experiencia en el sector financiero</p>

 {% endblock content %}