{% extends 'core/base.html' %}

{% block title %}
Universidad Nacional De Finanzas
{% endblock title %}

{% block body_title %}
Cerrar sesion
{% endblock body_title %}

{% block content %}

<div class="container my-5">
    <div class="row justify-content-center"> 
      <div class="col-lg-6 col-md-8 col-sm-10"> 
         <div class="card shadow-sm">
             <div class="card-body"> 
               <form method="post"> 
                  <p class="fs-5 text-center">Sesión cerrada exitosamente</p>
                   <p class="text-center">Gracias por utilizar nuestros servicios. Esperamos que haya tenido una experiencia satisfactoria. ¡Que tenga un buen día!</p> 
<div class="d-grid gap-2"> 
  
</div> 
</form>
 </div> 
</div> 
</div> 
</div> 
</div> 
{% endblock content %}